.App {
    font-family: 'DM Sans', sans-serif;    
    overflow: hidden;
    width: 100%;
    height: 100vh;
    color: white;
}

body {
    overflow: hidden;
    background-color: black;
}

.App-header {
    background: radial-gradient(50% 50% at 50% 50%, #004C93 0%, #000E29 100%);
    width: 100%;
    height: 100%;
}

#logo {
    position: absolute;
    left: -63.5vw;
    top: -83vh;
    scale: 5%
}

#company-name {
    position: absolute;
    font-size: 36px;
    color: white;
    top: 4vh;
    left: 9vw;
    font-weight: 700;
}

#display {
    position: relative;
    left: 29vw;
    scale: 110%;
    top:  9vh
}

#side-box-div {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35vh;
    left: 5vw
}

#box-1, #box-2 {
    margin-bottom: 2vw
}

#call-to-action {
    position: absolute;
    top: 75vh;
    left: 3vw;
}

#cta-text {
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: absolute;
    top: 77.5vh;
    left: 7.5vw;
}

#side-box-1-text {
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 37vh;
    left: 7vw;
}

#side-box-2-text {
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 48vh;
    left: 11vw;
}

#side-box-3-text {
    color: #d9d9d9;
    font-size: 20px;
    position: absolute;
    top: 59vh;
    left: 8vw;
}

#carousel {
    border-radius: 35px;
    position: absolute;
    left: 30vw;
    top: 15vh;
    height: 75vh;
    width: 65vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

#slide-1 {
    position: relative;
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-right: 8vw;
}

#slide-1a {
    position: relative;
    border-radius: 35px;
    width: 24vw;
    height: 100%;
    background: rgba(217, 217, 217, 0.16);
    margin-right: 2%;
    font-size: 60px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 4%;
    line-height: 1.6;
    padding-right: 4%;
    box-sizing: border-box
}

#slide-1b {
    position: relative;
    border-radius: 35px;
    width: 40vw;
    height: 100%;
}

#slide-1b1 {
    position: relative;
    border-radius: 35px;
    width: 100%;
    height: 26%;
    background: rgba(217, 217, 217, 0.16);
    margin-bottom: 3%;
    font-size: 35px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8%;
    padding-right: 20%;
    box-sizing: border-box
}

#slide-1b2 {
    position: relative;
    border-radius: 35px;
    width: 100%;
    height: 71%;
    background: rgba(217, 217, 217, 0.16);
    box-sizing: border-box;
    padding-left: 8%;
    font-size: 60px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 20%
}

#slide-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

#slide-2a {
    display: flex;
    flex-direction: row;
    height: 72%;
    width: 65vw;
    border-radius: 35px;
    margin-bottom: 3%;
}

#slide-2b {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 25%;
    border-radius: 35px;
}

#slide-2a1 {
    width: 57%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 35px;
    margin-right: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 700;
    padding-left: 4%
}

#slide-2a2 {
    width: 40%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-weight: 700;
    padding-left: 4%;
    box-sizing: border-box;
    padding-right: 4%;
    text-align: center;
}

#slide-2b1 {
    width: 28%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 35px;
    margin-right: 2%;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4%;
}

#slide-2b2 {
    width: 70%;
    height: 100;
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 35px;
    font-size: 46px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#slide-3 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    background-color: rgba(217, 217, 217, 0.16);
}

#slide-3a {
    background-color: rgba(217, 217, 217, 0.16);
    width: 31%;
    height: 100%;
    border-radius: 35px;
    margin-right: 3%;
}

#slide-3b {
    background-color: rgba(217, 217, 217, 0.16);
    width: 31%;
    height: 100%;
    border-radius: 35px;
    margin-right: 3%;
}

#slide-3c {
    background: rgba(217, 217, 217, 0.16);
    width: 31%;
    height: 100%;
    background-color: rgba(217, 217, 217, 0.16);
    border-radius: 35px;
}